configuration {
    modi: "drun,run,window";
    font: "JetBrainsMono Nerd Font 12";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    display-drun: " Apps";
    display-run: " Run";
    display-window: " Window";
    drun-display-format: "{name}";
    window-format: "{w} · {c} · {t}";
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}

@theme "~/.config/rofi/theme.rasi"